@import "~bootstrap/scss/bootstrap";

.bg-color1 {
  background-color: #16113a !important;
}
.bg-color2 {
  background-color: #272953 !important;
}
.text-color-2 {
  color: #dedfe5 !important;
}
.color-3 {
  color: #10c854;
}

.LHS_RHS_BOTTOM {
  height: 100%;
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
}

.LHS {
  max-height: 100%;
  min-height: 100%;
  max-width: 30%;
  min-width: 30%;
}

.RHS {
  max-height: 90%;
  min-height: 90%;
  max-width: 60%;
  min-width: 60%;
}

.LHS-RHS {
  max-height: 100%;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
}

.TeamSales-LeaderBoard-WeeklySales {
  max-height: 100%;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
}
.TeamSales-LeaderBoard-WeeklySales > div {
  max-height: 26.8vh;
  min-height: 26.8vh;
  max-width: 100%;
  min-width: 100%;
}
.data-element {
  max-height: 18.3vh;
  min-height: 19.7vh;
  max-width: 100%;
  min-width: 100%;
}

.spark-line-chart-container {
  max-width: 150px;
  max-height: 100px;
}

.percentage-bar-container {
  max-width: 150px;
  max-height: 100px;
}

.team-sales-progress-bar-container {
  max-width: 12vw;
  max-height: 100px;
}

.WeeklySalesChart {
  height: 225px;
  max-width: 150px;
  max-height: 300px;
}

/* .containerLayoutDashboardLayout {
  height: 56.25vw;
  left: 50%;
  max-height: 100vh;
  max-width: 177.7777777778vh;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100vw;
} */

.Bottom-text {
  font-size: 1.5vw;
  font-weight: 400;
}

.Bottom-text-1 {
  font-size: 1vw;
}
